.mat-card
{   
    min-width: 100%;
    min-height: 100%;
    margin-bottom: 10px;
    color:black;
   background-color: white;
   border: 1px solid gray;
   box-shadow: 2px;
   text-align: center;
}

button
{
    margin-left: 8px;
}