
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 600px;
  }

.example-form
{ 
    border: 1px black;
}
.header
{
    text-align: center;
}


.ng-valid[required], .ng-valid.required
{
    border: 1px solid black;
}
.ng-invalid[required], .ng-invalid.required
{
    border: 1px solid red;
}

  mat-label
  {
    font-weight:bold;
  }

.mat-card
{   
    min-width: 400px;
    min-height: 300px;
   background-color: white;
   border: 1px solid gray;
   box-shadow: 2px;
   text-align: center;
}
input,textarea
{
  width: 300px;
  padding: 2px;
  margin: 2px;
  border-radius: 2px;
}
.mat-raised-button
{
  margin-top: 8px;
}